<!DOCTYPE html>
<html>

<head>
    <title>Dictionary</title>
</head>

<body>
    <img src="/public/some_image.png" />

    <ul>
        <% for (const phrase of phrases) {%>
            <li>
                <%= phrase %>
            </li>
            <%}%>
    </ul>
</body>

</html>
